{% extends "layout.html" %}
<!-- Page Title-->
{% block title %}Welcome{% endblock %}

<!-- Main Content -->
{% block content %}

<!-- Hero Section -->
<section class="full-height-hero" style="background-image: url('{{ background_image }}');">
	<div class="content-wrapper">
		<div class="text-white text-center">
			<h1 class="mb-3">Welcome to TaskTrek</h1>
			<h4 class="mb-4">Efficiently manage your projects and tasks</h4>
			<a href="{{ url_for('web.register') }}" class="btn btn-primary btn-lg">Get Started</a>
		</div>
	</div>
</section>

{% endblock %}
