{% extends "layout.html" %}
<!-- Page Title-->
{% block title %}Login{% endblock %}

<!-- Main Content -->
{% block content %}

<!-- Hero Section -->
<section class="full-height-hero full-form-wrapper">
	<div class="content-wrapper">
		<form class="login-form" method="post" action="{{ url_for('web.login') }}">
			{{ form.hidden_tag() }}

			<!-- Flash messages -->
			{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- Display flash messages -->
			{% if messages %}
			<!-- Loop through messages -->
			{% for category, message in messages %}
			<div
				class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }} alert-dismissible fade show text-center mb-3"
				role="alert"
				id="flash-message"
			>
				{{ message }}
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="alert"
					aria-label="Close"
				></button>
			</div>
			<!-- End loop -->
			{% endfor %}
			<!-- End if -->
			{% endif %}
			<!-- End with -->
			{% endwith %}

			<div class="login-form-header">
				<h2>Welcome Back!</h2>
				<p>Login to your TaskTrek account</p>
			</div>

			<!-- Email input -->
			<div class="form-floating form-floating-label">
				{{ form.email(class="form-control" + (" is-invalid" if form.email.errors
				else ""), placeholder="name@example.com") }}
				<label for="email">Email address</label>
				{% if form.email.errors %}
				<div class="invalid-feedback" style="display: block">
					{{ form.email.errors[0] }}
				</div>
				{% endif %}
			</div>

			<!-- Password input -->
			<div class="form-floating form-floating-label">
				{{ form.password(class="form-control" + (" is-invalid" if
				form.password.errors else ""), placeholder="Enter your password...") }}
				<label for="password">Password</label>
				{% if form.password.errors %}
				<div class="invalid-feedback" style="display: block">
					{{ form.password.errors[0] }}
				</div>
				{% endif %}
			</div>

			<!-- Login button -->
			<div class="d-grid gap-2">{{ form.submit(class="btn btn-primary") }}</div>

			<div class="text-center mt-3">
				<p>
					Don't have an account?
					<a href="{{ url_for('register') }}">Register</a>
				</p>
			</div>
		</form>
	</div>
</section>

{% endblock %}
