<!-- Import macros -->
{% from "macros.html" import render_task_column, render_task_modal %}
<!-- Extends layout -->
{% extends "dashboard.html" %}
<!-- Page Title-->
{% block title %}{{ project.title|title }}'s Tasks{% endblock %}

<!-- Main Content -->
{% block content %}

<h2 class="mb-4">{{ project.title|title }} Details</h2>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Display flash messages -->
{% if messages %}
<!-- Loop through messages -->
{% for category, message in messages %}
<div
	class="alert {{ 'alert-success' if category == 'success' else 'alert-danger' }} alert-dismissible fade show text-center mb-3"
	role="alert"
	id="flash-message"
>
	{{ message }}
	<button
		type="button"
		class="btn-close"
		data-bs-dismiss="alert"
		aria-label="Close"
	></button>
</div>
<!-- End loop -->
{% endfor %}
<!-- End if -->
{% endif %}
<!-- End with -->
{% endwith %}

<!-- Add Task Modal Container -->
<div class="task-container mb-4">
	<!-- Task Adding Form -->
	<div class="d-flex justify-content-end">
		<button
			type="button"
			class="btn btn-primary"
			data-bs-toggle="modal"
			data-bs-target="#addTaskModal"
			data-bs-add-url="{{ url_for('web.add_task', project_id=project.id) }}"
		>
			<i class="fa-solid fa-plus"></i> Add New Task
		</button>
	</div>
	<!-- Add Task Modal -->
	{{ render_task_modal(project, form, 'addTaskModal', 'Add New Task', 'Add Task') }}
	<!-- Edit Task Modal -->
	{{ render_task_modal(project, form, 'editTaskModal', 'Edit Task', 'Save Changes') }}
</div>

<div id="tasks" class="container-fluid">
	<div class="row">
		<!-- Task columns for different statuses -->
		<!-- TODO -->
		{{ render_task_column(tasks, 'TODO', project, form) }}
		<!-- IN_PROGRESS -->
		{{ render_task_column(tasks, 'IN_PROGRESS', project, form) }}
		<!-- DONE -->
		{{ render_task_column(tasks, 'DONE', project, form) }}
		<!-- ARCHIVED -->
		{{ render_task_column(tasks, 'ARCHIVED', project, form) }}
	</div>
</div>

{% endblock %}
